// app global css
@font-face
    font-family ShadowIntoLight
    src url(./fonts/ShadowsIntoLight-Regular.ttf)

@font-face
    font-family Damion
    src url(./fonts/Damion-Regular.ttf)

@font-face
    font-family 'GloriaHallelujah'
    src url(./fonts/GloriaHallelujah-Regular.ttf)

@font-face
	font-family Montserrat
	src url(./fonts/montserrat-v14-latin-regular.woff)

.ShadowsIntoLight
    font-family: 'ShadowIntoLight'

.damion
    font-family: 'Damion'